#main-nav{
    position:fixed;
    width:100%;
    z-index: 1000;
    background-color: #4e5266 !important;
}

main{
  padding-top: 100px;
  width: 80%;
  margin: auto;
}

html, body{
  background-color: #4e5266;
  height: 100%;
}

#quotes-view{
}

#colorful-nav{
  height: 100%;
}

#color-nav-item-one{
  background-color: #4cabb1;
}

#color-nav-item-two{
  background-color: #69c7ad;
}

#colorful-nav-img{
  background: url("https://images4.alphacoders.com/266/thumb-1920-266584.jpg");
  background-position: center;
}

@media(max-width: 770px){
  #colorful-nav-img{
    height: 30vh;
  }
}

.btn{
    border-radius: 15px;
    box-shadow: 0 0 3em 0;
    border-width: 0px;
}

.btn-two{
  background-color: #79d1b8;
}

.btn-one{
  background-color: #5ab7bd;
}

.color-nav-item{
  border-width: 0px;
  text-align: center;
  color: white;
  padding: 10% 5% 10% 5%;
}

.join{
  margin: 0;
  padding: 0;
}

.quotes-view{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.5% 20% 2.5% 20%;
  border-width: 0px;
  width: 100%;
}
